*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
.backcolor{
    width: 95%;
    margin-left: 5%;


}


/*header*/

.logo img{
    width: auto;
    height: 70px;
}
header{
    padding: 15px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    flex-direction: row;

    width: 50%;

}
.header-main-button {
    padding: 15px;

}
.header-main-button a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-left: 50px;
}
.header-main-button a:hover{
    color: #4b4b4b;
}




/*main*/
main{
    margin-top: 2vw;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.block1-main{
    display: flex;
    align-items: center;
}

.block1{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    align-items: center;

}
.block1-img img{
    width: 100%;
    height:auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block1-img{
    width: 60%;

}
.block1-text{
    width: 30%;
    margin-left: 30px;


}

.block1-url1{
    height: 190px;
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.url1 img{
    width: 100%;
    height:auto;
}
.block1-url div {
    scale: 1;
    height: 100%;
    width: auto;
    transition: all 0.5s;
}
.url1:hover  {
    scale: 1.2;
    transition: all 0.5s;
}
.url2:hover  {
    scale: 1.2;
    transition: all 0.5s;
}
.url3:hover  {
    scale: 1.2;
    transition: all 0.5s;
}
.block1-url div{
    width: auto;
    max-height: 30px;
}




.block2{
    padding: 30px;
    display: flex;
    margin-top: 70px;
    align-items: center;
    background: #eaeaea;

}
.block2-img{
    width: 55%;
    height: 60%;

}
.block2-img img{
    width: 100%;
    height:auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block2-text{
    margin-left: 50px;
    width: 30%;
    color: black;

}


p{
    font-size: 20px;
    margin-top: 5%;
    line-height: 1.8;
    text-align: justify;
}
.link a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.link{
    background: #012D57;
    margin-top: 20%;
    border-radius: 6px;
    padding: 10px;
    text-align: center;

    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49)
}

.block3{
    margin-top: 70px;
    padding: 30px;
}

.itc-slider__items {
    gap: 20px;
    width: 100%;
    height: 400px;
}
.itc-slider__item {
        flex: 0 0 25%;
}
.item{
    align-items: center;
}
.item p{
    width: 290px;
}
.item img {
    width: 300px;
    height: 300px;
}

.block4{
    background: #eaeaea;
    margin-top: 70px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block4-text{
    width: 30%;
    padding: 40px;
}
.map{
    margin-left: 100px;
    width: 30%;
}


/*footer*/
.sub_block.new_dex {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_block.new_dex .form_sub {

    width: 670px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub_block.new_dex .form_sub .title {
    text-align: center;
    font-size: 16px;

    line-height: 1.875;
}
.sub_block.new_dex .form_sub .inputs {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sub_block.new_dex .form_sub .inputs input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 247, 244);
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 454px;
    top: 4158px;
    width: 251px;
    height: 30px;
    outline: none;

    padding: 10px;
}
.sub_block.new_dex .form_sub button {
    border-radius: 22px;
    background-color: rgb(128, 183, 179);
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    margin-top: 20px;
    width: 232px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}


